@import "./destyle";
@import "./var";

body {
	font-size: 16px;
}
main {
	padding: 20px;
}
.header {
	border-bottom: 1px solid $black;
	display: flex;
	padding: 20px;
	&__top {
		color: $green;
		font-size: 24px;
		font-weight: bold;
		margin-right: auto;
	}
	&__logout {
		color: $red;
		font-size: 20px;
		font-weight: bold;
		margin-right: 30px;
	}
	&__search {
		color: $green;
		font-size: 20px;
		font-weight: bold;
	}
}