@import play.mvc.Http.Request
@import helper._

@(
	comment: Comments,
	editCommentForm: Form[CommentData]
)(implicit
	request: Request,
	messages: play.i18n.Messages,
)

@main("Edit Comment") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/edit.css")">
} {
	<header class="header">
		<p class="header__top">
			<a href="/">Top</a>
		</p>
		<p class="header__search">
			<a href="/search">search🔎</a>
		</p>
	</header>

	<main>
		<h1>Edit</h1>

		<div class="edit-comment">
			@form(routes.EditController.editComment) {
				@helper.CSRF.formField

				<p id="original_comment">@comment.comment</p>
				@textarea(editCommentForm("comment"), Symbol("rows")-> 8, Symbol("cols")->50, Symbol("maxlength") -> 255, Symbol("required")-> "required")
				<button type="submit" name="id" value="@comment.id">change</button>
			}
		</div>
	</main>
	<script src="@routes.Assets.versioned("javascripts/edit.js")"></script>
}
