@import play.mvc.Http.Request
@import helper._

@(
	userName: String,
	userId: String,
	comments: Seq[Comments],
	commentForm: Form[CommentData],
	deleteCommentForm: Form[CommentData]
)(implicit
	request: Request,
	messages: play.i18n.Messages
)

@main(title = "Bulletin board") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
} {
	<header class="header">
		<p class="header__top">
			<a href="/">Top</a>
		</p>
		<p class="header__user">
			<a href="/user">@userName</a>
		</p>
		<p class="header__search">
			<a href="/searchComments">search🔎</a>
		</p>
	</header>
	<main>
		<h1>Bullentin Board</h1>

		<div class="comment-form">
			@form(routes.HomeController.createComment) {
				@CSRF.formField

				@inputText(commentForm("name"), Symbol("size")-> 30, Symbol("maxlength")-> 20, Symbol("required")-> "required")
				@inputText(commentForm("title"), Symbol("size")-> 30, Symbol("maxlength")-> 30, Symbol("required")-> "required")
				@textarea(commentForm("comment"),  Symbol("rows")-> 8, Symbol("cols")->50, Symbol("maxlength") -> 255, Symbol("required")-> "required")

				<button type="submit">send comment</button>
			}
		</div>

		<div class="comments">
			@request.flash.asScala().data.map { case (name, value) =>
				<p>@value</p>
			}

			@for(comment <- comments) {
				<div class="comment">
					<p class="comment__title">title: @comment.title</p>
					<div class="comment__text-delete">
						<p class="comment__text">@comment.comment</p>
					</div>
					<div class="comment__name-updatedAt">
						<p>by @comment.name,</p>
						<p>@comment.updatedAt</p>
					</div>
				</div>
			}
		</div>
	</main>
}
