@import play.mvc.Http.Request

@(
	comments: Seq[Comments], 
	commentForm: Form[CommentData],
	deleteCommentForm: Form[DeleteCommentData],
)(implicit 
	request: Request, 
	messages: play.i18n.Messages,
)

@main("Bulletin board") {

	<div class="comment-form">
		@helper.form(routes.HomeController.createComment) {
			@helper.CSRF.formField

			@helper.inputText(commentForm("name"), Symbol("size") -> 20, Symbol("maxlength") -> 20, Symbol("required")->"required")
			@helper.inputText(commentForm("title"), Symbol("size") -> 30, Symbol("maxlength") -> 20, Symbol("required")->"required")
			@helper.textarea(commentForm("comment"),  Symbol("rows")->8, Symbol("cols")->50, Symbol("maxlength") -> 255, Symbol("required")->"required")

			<button type="submit">send comment</button>
		}
	</div>

	<div class="comments">
		@request.flash.asScala().data.map { case (name, value) =>
			<div class="@name">@value</div>
		}
		
		@for(c <- comments) {
			<div class="comment">
				<p class="comment__title">title: @c.title</p>
				<div class="comment__text-delete">
					<p class="comment__text">@c.comment</p>
					@helper.form(routes.HomeController.deleteComment) {
						@helper.CSRF.formField
						<button type="submit" name="id" value="@c.id">delete</button>
					}
				</div>
				<div class="comment__name-updatedAt">
					<p>by @c.name,</p>
					<p>@c.updatedAt </p>
				</div>
			</div>
		}
	</div>
}
