@import play.mvc.Http.Request

@(
	comments: Seq[Comments], 
	commentForm: Form[CommentData],
)(implicit 
	request: Request, 
	messages: play.i18n.Messages,
)

@main("Bulletin board") {

	<div class="comment-form">
		@helper.form(routes.HomeController.createComment) {
			@helper.CSRF.formField

			@helper.inputText(commentForm("name"), Symbol("size") -> 20, Symbol("maxlength") -> 20, Symbol("required")->"required")
			@helper.inputText(commentForm("title"), Symbol("size") -> 30, Symbol("maxlength") -> 20, Symbol("required")->"required")
			@helper.textarea(commentForm("comment"),  Symbol("rows")->8, Symbol("cols")->50, Symbol("maxlength") -> 255, Symbol("required")->"required")

			<button type="submit">send comment</button>
		}
	</div>

	@if(commentForm.hasGlobalErrors) {
		@commentForm.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
			<div>
				@error.key: @error.message
			</div>
		}
	}

	@request.flash.asScala().data.map { case (name, value) =>
		<div class="@name">@value</div>
	}

	<div class="comments">
		@for(c <- comments) {
			<div class="comment">
				<p class="comment__title">title: @c.title</p>
				<p class="comment__text">@c.comment</p>
				<div>
					<p>by @c.name,</p>
					<p>@c.updatedAt </p>
				</div>
			</div>
		}
	</div>
}
