@import play.mvc.Http.Request

@(
	searchedComments: Seq[Comments],
)(implicit
	request: Request,
	messages: play.i18n.Messages
)

@main("Search Comments") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/search.css")">
} {
	<header class="header">
		<p class="header__top">
			<a href="/">Top</a>
		</p>
		<p class="header__search">
			<a href="/searchComments">search🔎</a>
		</p>
	</header>

	<main>
		<h1>Search</h1>

		<div>
			@helper.form(routes.SearchController.searchComments) {
			@helper.CSRF.formField
			<input type="text" class="search-word" name="word"/>
			<button type="submit" class="search-btn">search</button>
			}
		</div>

		<div class="searched-comments">
			@if(searchedComments.isEmpty()) {
			<p class="card-text">No Comments</p>
			} else {
			<p class="card-text">@searchedComments.size() @if(searchedComments.size() == 1) { Comment} else { Comments} Found.</p>
			}

			@for(c <- searchedComments) {
				<div class="searched-comment">
					<p class="searched-comment__title">title: <span name="searched_title">@c.title</span></p>
					<div class="searched-comment__text-delete">
						<p class="searched-comment__text"><span name="searched_comment">@c.comment</span></p>
						<a href="/editComment/@c.id">
							<button type="submit" class="searched-comment__edit">edit</button>
						</a>
						@helper.form(routes.HomeController.deleteComment) {
							@helper.CSRF.formField
							<button type="submit" name="id" value="@c.id">delete</button>
						}
					</div>
					<div class="searched-comment__name-updatedAt">
						<p>by @c.name,</p>
						<p>@c.updatedAt </p>
					</div>
				</div>
			}
		</div>
	</main>
	<script src="@routes.Assets.versioned("javascripts/search.js")"></script>
}