@import play.mvc.Http.Request
@import helper._

@(
	searchedComments: Seq[Comments],
)(implicit
	request: Request,
	messages: play.i18n.Messages
)

@main("Search Comments") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/search.css")">
} {
	<header class="header">
		<p class="header__top">
			<a href="/">Top</a>
		</p>
		<p class="header__search">
			<a href="/searchComments">search🔎</a>
		</p>
	</header>

	<main>
		<h1>Search</h1>

		<div>
			<input type="text" class="search-word" id="search_word"/>
			<a id="search_btn">
				<button class="search-btn">search</button>
			</a>
		</div>

		<div class="searched-comments">
			@for(searchedComment <- searchedComments) {
				<div class="searched-comment">
					<p class="searched-comment__title">title: <span name="searched_title">@searchedComment.title</span></p>
					<div class="searched-comment__text-delete">
						<p class="searched-comment__text"><span name="searched_comment">@searchedComment.comment</span></p>
						<a href="/editComment/@searchedComment.id">
							<button type="submit" class="searched-comment__edit">edit</button>
						</a>
						@form(routes.HomeController.deleteComment) {
							@CSRF.formField
							<button type="submit" name="id" value="@searchedComment.id">delete</button>
						}
					</div>
					<div class="searched-comment__name-updatedAt">
						<p>by @searchedComment.name,</p>
						<p>@searchedComment.updatedAt </p>
					</div>
				</div>
			}
		</div>
	</main>
	<script src="@routes.Assets.versioned("javascripts/search.js")"></script>
}